*,*::before, *::after{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: rgb(209, 4, 250);
    align-content: center;
    align-items: ce;
}

body {
    --hue: var(--hue-neutral);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    padding: 0;
    background-color: hsl(--hue), 100, 20%;
    }
body.correct{
    --hue: var(--hue-correct);
}
body.wrong{
    --hue: var(--hue-wrong);
}
.container{
    width: 800px;
    max-width: 80%;
    height: 80%;
    background-color: rgb(56, 202, 202);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 8px 2px;
    align-items: center;
    align-content: center;
}
.myQuiz{
    background-color: palevioletred;
    color: yellow;
    align-items: center;
    
}

#quiztitle {
    text-align: center;
    align-content: center;
}
.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.button{
    -hue: var(--hue-neutral);
    color: purple;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none;
    cursor: pointer;
}

:button:hover{
    cursor: pointer;
    background-color: rgb(209, 4, 250);
    cursor: pointer;

}
.button:focus{
    outline: 0em;
}


:root{
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body.correct {
    --hue: var(--hue-correct);
    color: green;
    background-color: green;
}

body.wrong {
    --hue: var(--hue-wrong);
    color: red;
    background-color: red;

}

#btn {
    --hue: var(--hue-neutral);
    border: 1pz solid hsl(--hue, 100%, 30%);
    border-radius: 5px;
    background-color: hsl(--hue) 100%, 30%;
    padding: 5px 10px;
    color: black;
    outline: none;
}
#container-question{
 min-height: 50px;
 border-radius: 8px;
 
}
.btn.correct
{
    --hue: var(--hue-correct);
    background-color: greenyellow;
    color: black;
}
.btn.wrong
{
    background-color: red;
    color: red;
    --hue: var(--hue-wrong);
}
#startbtn, #nextbtn{
    padding: 10px 20px;
   font-weight: bold;
    font-size: 1.5rem;  
    background-color: rgb(32, 106, 204);
    color: white;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide {
    display: none;
}


  p
{
   align-items: center;
  justify-content: center;
}
button{
    --hue: var(--hue-neutral);
    border: 1pz solid hsl(--hue, 100%, 30%);
    border-radius: 5px;
    background-color: hsl(--hue) 100%, 30%;
    padding: 5px 10px;
    color: black;
    outline: none;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}